In [37]:
# IMPORTS
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [38]:
# SETTING UP THE FOLDERS
folder_link = "data"
fao_csv = folder_link + "/FAO.csv"
faostat_csv = folder_link + "/FAOSTAT.csv"

# Task 1: Data Wrangling

1. Data Cleaning:
- Load both datasets into Pandas DataFrames.
- Create a data dictionary.
- Check for and handle any missing values. Provide a brief explanation of the method you used to handle missing data.
- Remove any duplicate rows from both datasets.
- Standardize column names to ensure consistency between both datasets.

In [39]:
# Load both datasets

fao_df = pd.read_csv(fao_csv, encoding='ISO-8859-1')
faostat_df = pd.read_csv(faostat_csv, encoding='ISO-8859-1')

In [40]:
fao_df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [41]:
faostat_df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,35530.081,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
1,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,2930.187,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
2,OA,Annual population,4,Algeria,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,41318.142,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
3,OA,Annual population,5,American Samoa,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,55.641,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
4,OA,Annual population,6,Andorra,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,76.965,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."

In [42]:
fao_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area Abbreviation  21477 non-null  object
 1   Area Code          21477 non-null  int64
 2   Area               21477 non-null  object
 3   Item Code          21477 non-null  int64
 4   Item               21477 non-null  object
 5   Element Code       21477 non-null  int64
 6   Element            21477 non-null  object
 7   Unit               21477 non-null  object
 8   latitude           21477 non-null  float64
 9   longitude          21477 non-null  float64
 10  Y1961              17938 non-null  float64
 11  Y1962              17938 non-null  float64
 12  Y1963              17938 non-null  float64
 13  Y1964              17938 non-null  float64
 14  Y1965              17938 non-null  float64
 15  Y1966              17938 non-null  float64
 16  Y1967              17938 non-null  float64
 17  Y1968              17938 non-null  float64
 18  Y1969              17938 non-null  float64
 19  Y1970              17938 non-null  float64
 20  Y1971              17938 non-null  float64
 21  Y1972              17938 non-null  float64
 22  Y1973              17938 non-null  float64
 23  Y1974              17938 non-null  float64
 24  Y1975              17938 non-null  float64
 25  Y1976              17938 non-null  float64
 26  Y1977              17938 non-null  float64
 27  Y1978              17938 non-null  float64
 28  Y1979              17938 non-null  float64
 29  Y1980              17938 non-null  float64
 30  Y1981              17938 non-null  float64
 31  Y1982              17938 non-null  float64
 32  Y1983              17938 non-null  float64
 33  Y1984              17938 non-null  float64
 34  Y1985              17938 non-null  float64
 35  Y1986              17938 non-null  float64
 36  Y1987              17938 non-null  float64
 37  Y1988              17938 non-null  float64
 38  Y1989              17938 non-null  float64
 39  Y1990              18062 non-null  float64
 40  Y1991              18062 non-null  float64
 41  Y1992              20490 non-null  float64
 42  Y1993              20865 non-null  float64
 43  Y1994              20865 non-null  float64
 44  Y1995              20865 non-null  float64
 45  Y1996              20865 non-null  float64
 46  Y1997              20865 non-null  float64
 47  Y1998              20865 non-null  float64
 48  Y1999              20865 non-null  float64
 49  Y2000              21128 non-null  float64
 50  Y2001              21128 non-null  float64
 51  Y2002              21128 non-null  float64
 52  Y2003              21128 non-null  float64
 53  Y2004              21128 non-null  float64
 54  Y2005              21128 non-null  float64
 55  Y2006              21373 non-null  float64
 56  Y2007              21373 non-null  float64
 57  Y2008              21373 non-null  float64
 58  Y2009              21373 non-null  float64
 59  Y2010              21373 non-null  float64
 60  Y2011              21373 non-null  float64
 61  Y2012              21477 non-null  int64
 62  Y2013              21477 non-null  int64
dtypes: float64(53), int64(5), object(5)
memory usage: 10.3+ MB

In [43]:
faostat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       231 non-null    object
 1   Domain            231 non-null    object
 2   Area Code         231 non-null    int64
 3   Area              231 non-null    object
 4   Element Code      231 non-null    int64
 5   Element           231 non-null    object
 6   Item Code         231 non-null    int64
 7   Item              231 non-null    object
 8   Year Code         231 non-null    int64
 9   Year              231 non-null    int64
 10  Unit              231 non-null    object
 11  Value             231 non-null    float64
 12  Flag              231 non-null    object
 13  Flag Description  231 non-null    object
 14  Note              231 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 27.2+ KB

In [44]:
# Create a data dictionary 

# function to create a data dictionary
def create_data_dictionary(df):
    data_dict = {
        'Column Name': df.columns,
        'Data Type': df.dtypes,
        'Description': ['Description needed'] * len(df.columns)  # Placeholder for descriptions
    }
    return pd.DataFrame(data_dict)

# generate data dictionaries using the function
faodata_dict = create_data_dictionary(fao_df)
faostatdata_dict = create_data_dictionary(faostat_df)

# update descriptions for FAO data dictionary
descriptions_fao = {
    'Area Abbreviation': 'Abbreviation for the area (e.g., country or region)',
    'Area Code': 'Unique code assigned to the area',
    'Area': 'Name of the area (e.g., country or region)',
    'Item Code': 'Unique code for the item (e.g., crop, livestock)',
    'Item': 'Name of the item (e.g., wheat, rice)',
    'Element Code': 'Unique code for the measurement element (e.g., production, yield)',
    'Element': 'Name of the element (e.g., production, yield, consumption)',
    'Unit': 'Unit of measurement (e.g., tons, hectares)',
    'latitude': 'Latitude coordinate of the area',
    'longitude': 'Longitude coordinate of the area',
    'Y1961': 'Data for the year 1961',
    'Y1962': 'Data for the year 1962',
    'Y1963': 'Data for the year 1963',
    'Y1964': 'Data for the year 1964',
    'Y1965': 'Data for the year 1965',
    'Y1966': 'Data for the year 1966',
    'Y1967': 'Data for the year 1967',
    'Y1968': 'Data for the year 1968',
    'Y1969': 'Data for the year 1969',
    'Y1970': 'Data for the year 1970',
    'Y1971': 'Data for the year 1971',
    'Y1972': 'Data for the year 1972',
    'Y1973': 'Data for the year 1973',
    'Y1974': 'Data for the year 1974',
    'Y1975': 'Data for the year 1975',
    'Y1976': 'Data for the year 1976',
    'Y1977': 'Data for the year 1977',
    'Y1978': 'Data for the year 1978',
    'Y1979': 'Data for the year 1979',
    'Y1980': 'Data for the year 1980',
    'Y1981': 'Data for the year 1981',
    'Y1982': 'Data for the year 1982',
    'Y1983': 'Data for the year 1983',
    'Y1984': 'Data for the year 1984',
    'Y1985': 'Data for the year 1985',
    'Y1986': 'Data for the year 1986',
    'Y1987': 'Data for the year 1987',
    'Y1988': 'Data for the year 1988',
    'Y1989': 'Data for the year 1989',
    'Y1990': 'Data for the year 1990',
    'Y1991': 'Data for the year 1991',
    'Y1992': 'Data for the year 1992',
    'Y1993': 'Data for the year 1993',
    'Y1994': 'Data for the year 1994',
    'Y1995': 'Data for the year 1995',
    'Y1996': 'Data for the year 1996',
    'Y1997': 'Data for the year 1997',
    'Y1998': 'Data for the year 1998',
    'Y1999': 'Data for the year 1999',
    'Y2000': 'Data for the year 2000',
    'Y2001': 'Data for the year 2001',
    'Y2002': 'Data for the year 2002',
    'Y2003': 'Data for the year 2003',
    'Y2004': 'Data for the year 2004',
    'Y2005': 'Data for the year 2005',
    'Y2006': 'Data for the year 2006',
    'Y2007': 'Data for the year 2007',
    'Y2008': 'Data for the year 2008',
    'Y2009': 'Data for the year 2009',
    'Y2010': 'Data for the year 2010',
    'Y2011': 'Data for the year 2011',
    'Y2012': 'Data for the year 2012',
    'Y2013': 'Data for the year 2013'
}

# update the FAO dataframe with the descriptions
faodata_dict['Description'] = faodata_dict['Column Name'].map(descriptions_fao).fillna('Description needed')

# update descriptions for FAOSTAT data dictionary
descriptions_faostat = {
    'Domain Code': 'Unique code for the domain or category of data (e.g., agriculture, forestry)',
    'Domain': 'Name of the domain or category of data',
    'Area Code': 'Unique numerical code assigned to the area (e.g., country, region)',
    'Area': 'Name of the area (e.g., country or region)',
    'Element Code': 'Unique code for the type of measurement (e.g., production, yield)',
    'Element': 'Type of data being measured (e.g., production, yield, consumption)',
    'Item Code': 'Unique numerical code assigned to the item (e.g., crop, livestock)',
    'Item': 'Name of the item (e.g., wheat, rice)',
    'Year Code': 'Unique code for the year of data',
    'Year': 'Year of the data',
    'Unit': 'Unit of measurement (e.g., tons, hectares)',
    'Value': 'Measured value for the specified item, area, and year',
    'Flag': 'Indicator of data quality or special conditions (e.g., missing data, estimated values)',
    'Flag Description': 'Description of the flag used to denote data quality or special conditions',
    'Note': 'Additional notes or comments related to the data entry'
}

# update the FAOSTAT dataframe with the descriptions
faostatdata_dict['Description'] = faostatdata_dict['Column Name'].map(descriptions_faostat).fillna('Description needed')

# print updated data dictionaries
print("Updated FAO Data Dictionary:\n", faodata_dict)

Updated FAO Data Dictionary:
                          Column Name Data Type  \
Area Abbreviation  Area Abbreviation    object
Area Code                  Area Code     int64
Area                            Area    object
Item Code                  Item Code     int64
Item                            Item    object
...                              ...       ...
Y2009                          Y2009   float64
Y2010                          Y2010   float64
Y2011                          Y2011   float64
Y2012                          Y2012     int64
Y2013                          Y2013     int64

                                                         Description
Area Abbreviation  Abbreviation for the area (e.g., country or re...
Area Code                           Unique code assigned to the area
Area                      Name of the area (e.g., country or region)
Item Code           Unique code for the item (e.g., crop, livestock)
Item                            Name of the item (e.g., wheat, rice)
...                                                              ...
Y2009                                         Data for the year 2009
Y2010                                         Data for the year 2010
Y2011                                         Data for the year 2011
Y2012                                         Data for the year 2012
Y2013                                         Data for the year 2013

[63 rows x 3 columns]

In [45]:
print("\nUpdated FAOSTAT Data Dictionary:\n", faostatdata_dict)

Updated FAOSTAT Data Dictionary:
                        Column Name Data Type  \
Domain Code            Domain Code    object
Domain                      Domain    object
Area Code                Area Code     int64
Area                          Area    object
Element Code          Element Code     int64
Element                    Element    object
Item Code                Item Code     int64
Item                          Item    object
Year Code                Year Code     int64
Year                          Year     int64
Unit                          Unit    object
Value                        Value   float64
Flag                          Flag    object
Flag Description  Flag Description    object
Note                          Note    object

                                                        Description
Domain Code       Unique code for the domain or category of data...
Domain                       Name of the domain or category of data
Area Code         Unique numerical code assigned to the area (e....
Area                     Name of the area (e.g., country or region)
Element Code      Unique code for the type of measurement (e.g.,...
Element           Type of data being measured (e.g., production,...
Item Code         Unique numerical code assigned to the item (e....
Item                           Name of the item (e.g., wheat, rice)
Year Code                          Unique code for the year of data
Year                                               Year of the data
Unit                     Unit of measurement (e.g., tons, hectares)
Value             Measured value for the specified item, area, a...
Flag              Indicator of data quality or special condition...
Flag Description  Description of the flag used to denote data qu...
Note              Additional notes or comments related to the da...

In [46]:
# Check for and handle any missing values. Provide a brief explanation of the method you used to handle missing data.

# Check for missing values in FAO dataset
print("FAO Dataset Missing Values:")
fao_df.info()

FAO Dataset Missing Values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area Abbreviation  21477 non-null  object
 1   Area Code          21477 non-null  int64
 2   Area               21477 non-null  object
 3   Item Code          21477 non-null  int64
 4   Item               21477 non-null  object
 5   Element Code       21477 non-null  int64
 6   Element            21477 non-null  object
 7   Unit               21477 non-null  object
 8   latitude           21477 non-null  float64
 9   longitude          21477 non-null  float64
 10  Y1961              17938 non-null  float64
 11  Y1962              17938 non-null  float64
 12  Y1963              17938 non-null  float64
 13  Y1964              17938 non-null  float64
 14  Y1965              17938 non-null  float64
 15  Y1966              17938 non-null  float64
 16  Y1967              17938 non-null  float64
 17  Y1968              17938 non-null  float64
 18  Y1969              17938 non-null  float64
 19  Y1970              17938 non-null  float64
 20  Y1971              17938 non-null  float64
 21  Y1972              17938 non-null  float64
 22  Y1973              17938 non-null  float64
 23  Y1974              17938 non-null  float64
 24  Y1975              17938 non-null  float64
 25  Y1976              17938 non-null  float64
 26  Y1977              17938 non-null  float64
 27  Y1978              17938 non-null  float64
 28  Y1979              17938 non-null  float64
 29  Y1980              17938 non-null  float64
 30  Y1981              17938 non-null  float64
 31  Y1982              17938 non-null  float64
 32  Y1983              17938 non-null  float64
 33  Y1984              17938 non-null  float64
 34  Y1985              17938 non-null  float64
 35  Y1986              17938 non-null  float64
 36  Y1987              17938 non-null  float64
 37  Y1988              17938 non-null  float64
 38  Y1989              17938 non-null  float64
 39  Y1990              18062 non-null  float64
 40  Y1991              18062 non-null  float64
 41  Y1992              20490 non-null  float64
 42  Y1993              20865 non-null  float64
 43  Y1994              20865 non-null  float64
 44  Y1995              20865 non-null  float64
 45  Y1996              20865 non-null  float64
 46  Y1997              20865 non-null  float64
 47  Y1998              20865 non-null  float64
 48  Y1999              20865 non-null  float64
 49  Y2000              21128 non-null  float64
 50  Y2001              21128 non-null  float64
 51  Y2002              21128 non-null  float64
 52  Y2003              21128 non-null  float64
 53  Y2004              21128 non-null  float64
 54  Y2005              21128 non-null  float64
 55  Y2006              21373 non-null  float64
 56  Y2007              21373 non-null  float64
 57  Y2008              21373 non-null  float64
 58  Y2009              21373 non-null  float64
 59  Y2010              21373 non-null  float64
 60  Y2011              21373 non-null  float64
 61  Y2012              21477 non-null  int64
 62  Y2013              21477 non-null  int64
dtypes: float64(53), int64(5), object(5)
memory usage: 10.3+ MB

In [47]:
# Check for and handle any missing values. Provide a brief explanation of the method you used to handle missing data.

# Check for missing values in FAOSTAT dataset
print("\nFAOSTAT Dataset Missing Values:")
faostat_df.info()

FAOSTAT Dataset Missing Values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       231 non-null    object
 1   Domain            231 non-null    object
 2   Area Code         231 non-null    int64
 3   Area              231 non-null    object
 4   Element Code      231 non-null    int64
 5   Element           231 non-null    object
 6   Item Code         231 non-null    int64
 7   Item              231 non-null    object
 8   Year Code         231 non-null    int64
 9   Year              231 non-null    int64
 10  Unit              231 non-null    object
 11  Value             231 non-null    float64
 12  Flag              231 non-null    object
 13  Flag Description  231 non-null    object
 14  Note              231 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 27.2+ KB

In [48]:
## only FAO has null values so we will handle that

## first drop rows with everything as null
fao_df.dropna(how='all').shape

(21477, 63)

Explanation: In this scenario, we need to handle missing values in a time-series dataset. Since the dataset contains various year columns with potential missing values, we will assume that data points for nearby years are likely to be similar. This assumption is based on the idea that values for adjacent years are often correlated, and drastic changes from one year to the next are unlikely.

To address missing values, we use the fillna() method from Pandas, which provides strategies to fill these gaps. Specifically, weâ€™ll use two methods:

'ffill' (Forward Fill): This method propagates the last valid observation forward to the next missing value. Itâ€™s based on the assumption that the data from the previous year is a good estimate for the missing data in the current year. In other words, if a yearâ€™s data is missing, it will be filled with the most recent previous yearâ€™s value.

'bfill' (Backward Fill): This method propagates the next valid observation backward to fill the missing value. It assumes that if a future yearâ€™s data is available, it can be used to fill in the missing values for earlier years. This approach fills missing values with the subsequent yearâ€™s value if available.

In [49]:
## dropping rows with everything as null removed nothing, which means only specific columns for each row have null values

## based on the observation of the data in FAO, some years start with null values (e.g., years where no data is provided) but later years have data, therefore we cannot simply
## delete those rows because the data for later years are still valuable data

## to handle the missing values, we perform a forward fill and a backward fill

# check for missing values in the FAO dataset
print("Initial Missing Values Summary:")
print(fao_df.isnull().sum())

# Identify year columns (assuming they start with 'Y')
year_columns = [col for col in fao_df.columns if col.startswith('Y')]

# display the columns identified for year data
print("Year Columns:")
print(year_columns)

# apply forward fill to year columns
fao_df[year_columns] = fao_df[year_columns].fillna(method='ffill', axis=1)

# apply backward fill to any remaining missing values
fao_df[year_columns] = fao_df[year_columns].fillna(method='bfill', axis=1)

# verify missing values after handling
print("\nMissing Values After Handling:")
print(fao_df.isnull().sum())

# print a sample of the cleaned data to verify
print("\nSample of Cleaned FAO Data:")
print(fao_df.head())

Initial Missing Values Summary:
Area Abbreviation      0
Area Code              0
Area                   0
Item Code              0
Item                   0
                    ...
Y2009                104
Y2010                104
Y2011                104
Y2012                  0
Y2013                  0
Length: 63, dtype: int64
Year Columns:
['Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013']

Missing Values After Handling:
Area Abbreviation    0
Area Code            0
Area                 0
Item Code            0
Item                 0
                    ..
Y2009                0
Y2010                0
Y2011                0
Y2012                0
Y2013                0
Length: 63, dtype: int64

Sample of Cleaned FAO Data:
  Area Abbreviation  Area Code         Area  Item Code  \
0               AFG          2  Afghanistan       2511
1               AFG          2  Afghanistan       2805
2               AFG          2  Afghanistan       2513
3               AFG          2  Afghanistan       2513
4               AFG          2  Afghanistan       2514

                       Item  Element Code Element         Unit  latitude  \
0        Wheat and products          5142    Food  1000 tonnes     33.94
1  Rice (Milled Equivalent)          5142    Food  1000 tonnes     33.94
2       Barley and products          5521    Feed  1000 tonnes     33.94
3       Barley and products          5142    Food  1000 tonnes     33.94
4        Maize and products          5521    Feed  1000 tonnes     33.94

   longitude  ...   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009   Y2010  \
0      67.71  ...  3249.0  3486.0  3704.0  4164.0  4252.0  4538.0  4605.0
1      67.71  ...   419.0   445.0   546.0   455.0   490.0   415.0   442.0
2      67.71  ...    58.0   236.0   262.0   263.0   230.0   379.0   315.0
3      67.71  ...   185.0    43.0    44.0    48.0    62.0    55.0    60.0
4      67.71  ...   120.0   208.0   233.0   249.0   247.0   195.0   178.0

    Y2011   Y2012   Y2013
0  4711.0  4810.0  4895.0
1   476.0   425.0   422.0
2   203.0   367.0   360.0
3    72.0    78.0    89.0
4   191.0   200.0   200.0

[5 rows x 63 columns]

C:\Users\David\AppData\Local\Temp\ipykernel_18932\3541634840.py:20: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fao_df[year_columns] = fao_df[year_columns].fillna(method='ffill', axis=1)
C:\Users\David\AppData\Local\Temp\ipykernel_18932\3541634840.py:23: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fao_df[year_columns] = fao_df[year_columns].fillna(method='bfill', axis=1)

In [50]:
fao_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area Abbreviation  21477 non-null  object
 1   Area Code          21477 non-null  int64
 2   Area               21477 non-null  object
 3   Item Code          21477 non-null  int64
 4   Item               21477 non-null  object
 5   Element Code       21477 non-null  int64
 6   Element            21477 non-null  object
 7   Unit               21477 non-null  object
 8   latitude           21477 non-null  float64
 9   longitude          21477 non-null  float64
 10  Y1961              21477 non-null  float64
 11  Y1962              21477 non-null  float64
 12  Y1963              21477 non-null  float64
 13  Y1964              21477 non-null  float64
 14  Y1965              21477 non-null  float64
 15  Y1966              21477 non-null  float64
 16  Y1967              21477 non-null  float64
 17  Y1968              21477 non-null  float64
 18  Y1969              21477 non-null  float64
 19  Y1970              21477 non-null  float64
 20  Y1971              21477 non-null  float64
 21  Y1972              21477 non-null  float64
 22  Y1973              21477 non-null  float64
 23  Y1974              21477 non-null  float64
 24  Y1975              21477 non-null  float64
 25  Y1976              21477 non-null  float64
 26  Y1977              21477 non-null  float64
 27  Y1978              21477 non-null  float64
 28  Y1979              21477 non-null  float64
 29  Y1980              21477 non-null  float64
 30  Y1981              21477 non-null  float64
 31  Y1982              21477 non-null  float64
 32  Y1983              21477 non-null  float64
 33  Y1984              21477 non-null  float64
 34  Y1985              21477 non-null  float64
 35  Y1986              21477 non-null  float64
 36  Y1987              21477 non-null  float64
 37  Y1988              21477 non-null  float64
 38  Y1989              21477 non-null  float64
 39  Y1990              21477 non-null  float64
 40  Y1991              21477 non-null  float64
 41  Y1992              21477 non-null  float64
 42  Y1993              21477 non-null  float64
 43  Y1994              21477 non-null  float64
 44  Y1995              21477 non-null  float64
 45  Y1996              21477 non-null  float64
 46  Y1997              21477 non-null  float64
 47  Y1998              21477 non-null  float64
 48  Y1999              21477 non-null  float64
 49  Y2000              21477 non-null  float64
 50  Y2001              21477 non-null  float64
 51  Y2002              21477 non-null  float64
 52  Y2003              21477 non-null  float64
 53  Y2004              21477 non-null  float64
 54  Y2005              21477 non-null  float64
 55  Y2006              21477 non-null  float64
 56  Y2007              21477 non-null  float64
 57  Y2008              21477 non-null  float64
 58  Y2009              21477 non-null  float64
 59  Y2010              21477 non-null  float64
 60  Y2011              21477 non-null  float64
 61  Y2012              21477 non-null  float64
 62  Y2013              21477 non-null  float64
dtypes: float64(55), int64(3), object(5)
memory usage: 10.3+ MB

In [51]:
# Removing Duplicatites

# Check initial counts of duplicate rows
print("Initial Duplicate Rows in FAO Dataset:", fao_df.duplicated().sum())
print("Initial Duplicate Rows in FAOSTAT Dataset:", faostat_df.duplicated().sum())

# Remove duplicate rows from FAO dataset
fao_df_cleaned = fao_df.drop_duplicates()

# Remove duplicate rows from FAOSTAT dataset
faostat_df_cleaned = faostat_df.drop_duplicates()

# Verify that duplicates have been removed
print("\nDuplicate Rows After Cleaning in FAO Dataset:", fao_df_cleaned.duplicated().sum())
print("Duplicate Rows After Cleaning in FAOSTAT Dataset:", faostat_df_cleaned.duplicated().sum())

Initial Duplicate Rows in FAO Dataset: 0
Initial Duplicate Rows in FAOSTAT Dataset: 0

Duplicate Rows After Cleaning in FAO Dataset: 0
Duplicate Rows After Cleaning in FAOSTAT Dataset: 0

In [52]:
fao_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area Abbreviation  21477 non-null  object
 1   Area Code          21477 non-null  int64
 2   Area               21477 non-null  object
 3   Item Code          21477 non-null  int64
 4   Item               21477 non-null  object
 5   Element Code       21477 non-null  int64
 6   Element            21477 non-null  object
 7   Unit               21477 non-null  object
 8   latitude           21477 non-null  float64
 9   longitude          21477 non-null  float64
 10  Y1961              21477 non-null  float64
 11  Y1962              21477 non-null  float64
 12  Y1963              21477 non-null  float64
 13  Y1964              21477 non-null  float64
 14  Y1965              21477 non-null  float64
 15  Y1966              21477 non-null  float64
 16  Y1967              21477 non-null  float64
 17  Y1968              21477 non-null  float64
 18  Y1969              21477 non-null  float64
 19  Y1970              21477 non-null  float64
 20  Y1971              21477 non-null  float64
 21  Y1972              21477 non-null  float64
 22  Y1973              21477 non-null  float64
 23  Y1974              21477 non-null  float64
 24  Y1975              21477 non-null  float64
 25  Y1976              21477 non-null  float64
 26  Y1977              21477 non-null  float64
 27  Y1978              21477 non-null  float64
 28  Y1979              21477 non-null  float64
 29  Y1980              21477 non-null  float64
 30  Y1981              21477 non-null  float64
 31  Y1982              21477 non-null  float64
 32  Y1983              21477 non-null  float64
 33  Y1984              21477 non-null  float64
 34  Y1985              21477 non-null  float64
 35  Y1986              21477 non-null  float64
 36  Y1987              21477 non-null  float64
 37  Y1988              21477 non-null  float64
 38  Y1989              21477 non-null  float64
 39  Y1990              21477 non-null  float64
 40  Y1991              21477 non-null  float64
 41  Y1992              21477 non-null  float64
 42  Y1993              21477 non-null  float64
 43  Y1994              21477 non-null  float64
 44  Y1995              21477 non-null  float64
 45  Y1996              21477 non-null  float64
 46  Y1997              21477 non-null  float64
 47  Y1998              21477 non-null  float64
 48  Y1999              21477 non-null  float64
 49  Y2000              21477 non-null  float64
 50  Y2001              21477 non-null  float64
 51  Y2002              21477 non-null  float64
 52  Y2003              21477 non-null  float64
 53  Y2004              21477 non-null  float64
 54  Y2005              21477 non-null  float64
 55  Y2006              21477 non-null  float64
 56  Y2007              21477 non-null  float64
 57  Y2008              21477 non-null  float64
 58  Y2009              21477 non-null  float64
 59  Y2010              21477 non-null  float64
 60  Y2011              21477 non-null  float64
 61  Y2012              21477 non-null  float64
 62  Y2013              21477 non-null  float64
dtypes: float64(55), int64(3), object(5)
memory usage: 10.3+ MB

In [53]:
faostat_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       231 non-null    object
 1   Domain            231 non-null    object
 2   Area Code         231 non-null    int64
 3   Area              231 non-null    object
 4   Element Code      231 non-null    int64
 5   Element           231 non-null    object
 6   Item Code         231 non-null    int64
 7   Item              231 non-null    object
 8   Year Code         231 non-null    int64
 9   Year              231 non-null    int64
 10  Unit              231 non-null    object
 11  Value             231 non-null    float64
 12  Flag              231 non-null    object
 13  Flag Description  231 non-null    object
 14  Note              231 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 27.2+ KB

In [54]:
# Standardize column names to ensure consistency between both datasets.

# Change column names to uppercase
fao_df_cleaned.columns = fao_df_cleaned.columns.str.upper()
faostat_df_cleaned.columns = faostat_df_cleaned.columns.str.upper()

# Change column with spaces replaced with underscores _
fao_df_cleaned.columns = fao_df_cleaned.columns.str.replace(' ', '_')
faostat_df_cleaned.columns = faostat_df_cleaned.columns.str.replace(' ', '_')

# Display updated column names for verification
print("Updated FAO Columns:", fao_df_cleaned.columns)
print("Updated FAOSTAT Columns:", faostat_df_cleaned.columns)

Updated FAO Columns: Index(['AREA_ABBREVIATION', 'AREA_CODE', 'AREA', 'ITEM_CODE', 'ITEM',
       'ELEMENT_CODE', 'ELEMENT', 'UNIT', 'LATITUDE', 'LONGITUDE', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')
Updated FAOSTAT Columns: Index(['DOMAIN_CODE', 'DOMAIN', 'AREA_CODE', 'AREA', 'ELEMENT_CODE', 'ELEMENT',
       'ITEM_CODE', 'ITEM', 'YEAR_CODE', 'YEAR', 'UNIT', 'VALUE', 'FLAG',
       'FLAG_DESCRIPTION', 'NOTE'],
      dtype='object')

2. Data Merging:
- Merge the two datasets using a relevant key (e.g., Country, Year, or any other common column). Justify your choice of the merging key(s).
- Create a new DataFrame with the merged data. Ensure the merged DataFrame contains only the columns necessary for analysis.

In [55]:
# Merge the two datasets using a relevant key (e.g., Country, Year, or any other common column). Justify your choice of the merging key(s).
# Create a new DataFrame with the merged data. Ensure the merged DataFrame contains only the columns necessary for analysis.

# transform FAO data - melt the year columns into rows
# compile all column names for years
year_columns = [col for col in fao_df.columns if col.startswith('Y')]

# perform the melt operation
fao_melted_df = pd.melt(fao_df_cleaned, id_vars=['AREA_CODE', 'AREA', 'ITEM_CODE', 'ELEMENT_CODE', 'ITEM', 'ELEMENT'], 
                        value_vars=year_columns, var_name='YEAR', value_name='PRODUCTION_VALUE')

# clean the 'Year' column (remove the 'Y' prefix and convert to int)
fao_melted_df['YEAR'] = fao_melted_df['YEAR'].str[1:].astype(int)

# Merge the transformed FAO data with FAOSTAT data on relevant columns
merged_df = pd.merge(fao_melted_df, faostat_df_cleaned, on=['AREA_CODE', 'AREA', 'ELEMENT_CODE', 'ITEM_CODE', 'ITEM', 'ELEMENT', 'YEAR'], how='outer')

# select only the necessary columns for analysis
columns_to_keep = ['AREA', 'YEAR', 'ITEM', 'ELEMENT', 'PRODUCTION_VALUE', 'VALUE']  # Adjust as needed
merged_df = merged_df[columns_to_keep]

# rename value column to match PRODUCTION_VALUE 
merged_df.rename(columns={'VALUE': 'POPULATION_VALUE'}, inplace=True)

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138512 entries, 0 to 1138511
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   AREA              1138512 non-null  object
 1   YEAR              1138512 non-null  int64
 2   ITEM              1138512 non-null  object
 3   ELEMENT           1138512 non-null  object
 4   PRODUCTION_VALUE  1138281 non-null  float64
 5   POPULATION_VALUE  231 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 52.1+ MB

In [56]:
# NaN values will be kept, since some rows do not necessarily reflect PRODUCTION and POPULATION
# filling them with other values (such as '0' or 'N/A') may lead to confusion
merged_df.head()

,AREA,YEAR,ITEM,ELEMENT,PRODUCTION_VALUE,POPULATION_VALUE
0,Armenia,2017,Population - Est. & Proj.,Total Population - Both sexes,NaN,2930.45
1,Armenia,1961,Wheat and products,Food,539.0,NaN
2,Armenia,1962,Wheat and products,Food,539.0,NaN
3,Armenia,1963,Wheat and products,Food,539.0,NaN
4,Armenia,1964,Wheat and products,Food,539.0,NaN

3. Feature Engineering:
- Create at least two new columns based on the existing data. For example, you could calculate the per capita values or growth rates. Clearly explain the rationale behind these new features.

In [57]:
# Define the mapping of countries to continents
country_to_continent = {
    'Afghanistan': 'Asia',
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'Angola': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'Bahamas': 'North America',
    'Bangladesh': 'Asia',
    'Barbados': 'North America',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Benin': 'Africa',
    'Bermuda': 'North America',
    'Bolivia (Plurinational State of)': 'South America',
    'Bosnia and Herzegovina': 'Europe',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei Darussalam': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Cabo Verde': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Central African Republic': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China, Hong Kong SAR': 'Asia',
    'China, Macao SAR': 'Asia',
    'China, mainland': 'Asia',
    'China, Taiwan Province of': 'Asia',
    'Colombia': 'South America',
    'Congo': 'Africa',
    'Costa Rica': 'North America',
    'CÃ´te d\'Ivoire': 'Africa',
    'Croatia': 'Europe',
    'Cuba': 'North America',
    'Cyprus': 'Asia',
    'Czechia': 'Europe',
    'Democratic People\'s Republic of Korea': 'Asia',
    'Denmark': 'Europe',
    'Djibouti': 'Africa',
    'Dominica': 'North America',
    'Dominican Republic': 'North America',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'Estonia': 'Europe',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'French Polynesia': 'Oceania',
    'Gabon': 'Africa',
    'Gambia': 'Africa',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Grenada': 'North America',
    'Guatemala': 'North America',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Honduras': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran (Islamic Republic of)': 'Asia',
    'Iraq': 'Asia',
    'Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'Kiribati': 'Oceania',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Lao People\'s Democratic Republic': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Liberia': 'Africa',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Mongolia': 'Asia',
    'Montenegro': 'Europe',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Myanmar': 'Asia',
    'Namibia': 'Africa',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Caledonia': 'Oceania',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Niger': 'Africa',
    'Nigeria': 'Africa',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Panama': 'North America',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Republic of Korea': 'Asia',
    'Republic of Moldova': 'Europe',
    'Romania': 'Europe',
    'Russian Federation': 'Europe',
    'Rwanda': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Samoa': 'Oceania',
    'Sao Tome and Principe': 'Africa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'Africa',
    'Serbia': 'Europe',
    'Sierra Leone': 'Africa',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'Solomon Islands': 'Oceania',
    'South Africa': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sudan': 'Africa',
    'Suriname': 'South America',
    'Swaziland': 'Africa',
    'Sweden': 'Europe',
    'Switzerland': 'Europe',
    'Tajikistan': 'Asia',
    'Thailand': 'Asia',
    'The former Yugoslav Republic of Macedonia': 'Europe',
    'Timor-Leste': 'Asia',
    'Togo': 'Africa',
    'Trinidad and Tobago': 'North America',
    'Tunisia': 'Africa',
    'Turkey': 'Asia',
    'Turkmenistan': 'Asia',
    'Uganda': 'Africa',
    'Ukraine': 'Europe',
    'United Arab Emirates': 'Asia',
    'United Kingdom': 'Europe',
    'United Republic of Tanzania': 'Africa',
    'United States of America': 'North America',
    'Uruguay': 'South America',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceania',
    'Venezuela (Bolivarian Republic of)': 'South America',
    'Viet Nam': 'Asia',
    'Yemen': 'Asia',
    'Zambia': 'Africa',
    'Zimbabwe': 'Africa'
}

# Add the new 'CONTINENT' column to the dataset
merged_df['CONTINENT'] = merged_df['AREA'].map(country_to_continent)

In [58]:
# Feature 2: Production Growth

merged_df.sort_values(by=['AREA', 'YEAR'], inplace=True)
merged_df['PRODUCTION_GROWTH'] = merged_df.groupby('AREA')['PRODUCTION_VALUE'].pct_change()

C:\Users\David\AppData\Local\Temp\ipykernel_18932\2193812590.py:4: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  merged_df['PRODUCTION_GROWTH'] = merged_df.groupby('AREA')['PRODUCTION_VALUE'].pct_change()

In [68]:
merged_df.head()

,AREA,YEAR,ITEM,ELEMENT,PRODUCTION_VALUE,POPULATION_VALUE,CONTINENT,PRODUCTION_GROWTH
7051,Afghanistan,1961,Wheat and products,Food,1928.0,NaN,Asia,NaN
7104,Afghanistan,1961,Barley and products,Food,237.0,NaN,Asia,-0.877075
7157,Afghanistan,1961,Maize and products,Food,403.0,NaN,Asia,0.700422
7210,Afghanistan,1961,Millet and products,Food,17.0,NaN,Asia,-0.957816
7263,Afghanistan,1961,"Cereals, Other",Food,0.0,NaN,Asia,-1.000000

# Task 2: Data Exploration

1. Descriptive Statistics:
    - Provide summary statistics for key variables of interest (mean, median, standard deviation, etc.).
    - Identify and discuss any significant patterns or outliers in the data.

In [60]:
# Provide summary statistics for key variables of interest (mean, median, standard deviation, etc.).
# Identify and discuss any significant patterns or outliers in the data.

2. Group-Based Analysis:

    - Perform a group-by operation based on a relevant categorical variable (e.g., Year, Country, or Region).
    - Analyze the aggregated data to identify trends over time or differences between groups. Visualize your findings using appropriate plots.

In [61]:
# Perform a group-by operation based on a relevant categorical variable (e.g., Year, Country, or Region).
# Analyze the aggregated data to identify trends over time or differences between groups. Visualize your findings using appropriate plots.

3. Correlation Analysis:
    - Compute the correlation matrix for the numerical variables in your dataset.
    - Identify and discuss any strong correlations. Use a heatmap to visualize the correlation matrix.

In [62]:
# Compute the correlation matrix for the numerical variables in your dataset.
# Identify and discuss any strong correlations. Use a heatmap to visualize the correlation matrix.

# Task 3: Data Visualization

1. Time Series Analysis:
    - Create a line plot showing trends over time for at least two variables. Ensure the plot is well-labeled and includes a legend.
    - Discuss any noticeable trends or patterns in the data over time.

In [63]:
# Create a line plot showing trends over time for at least two variables.
# Discuss any noticeable trends or patterns in the data over time.

2. Comparison Plot:
    - Create a bar chart or box plot to compare the distributions of a variable across different categories (e.g., regions, countries).
    - Provide insights based on your visualization.

In [64]:
# Create a bar chart or box plot to compare the distributions of a variable across different categories (e.g., regions, countries).
# Provide insights based on your visualization.

3. Geographical Visualization (Optional Advanced Task):
    - If applicable, create a choropleth map showing the distribution of a key variable across different countries or regions.
    - Analyze the geographical trends you observe.

In [65]:
# If applicable, create a choropleth map showing the distribution of a key variable across different countries or regions.
# Analyze the geographical trends you observe.

# Task 4: Drawing Conclusions

1. Analysis Summary:
    - Based on your analysis and visualizations, write a short report summarizing your findings.
    - Highlight key insights, trends, and any surprising results.
    - Discuss the potential implications of your findings in the context of global food security, agricultural production, or trade.

In [66]:
# Insert Summary

2. Actionable Recommendations:
    - Based on the data analysis, provide at least two recommendations for policymakers or stakeholders in the agriculture sector.
    - Justify your recommendations with specific references to the data and visualizations youâ€™ve created.

In [67]:
# Insert Recommendations